body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(rgba(95, 114, 189,0.8), rgba(155,35,234,0.7)),url("img/bg.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.logo {
    height: 40px;
    margin-top: 20px;
}

.text-description {
    letter-spacing: 2px;
    font-family: sans-serif;    
}

.form-control {
    background: transparent !important;
    color: #fff !important;
}

a .fab {
    color: #ffc;
    font-size: 30px;
    margin: 0 10px;
}